//font
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// Default size
$browser-context: 16;
//px to em func
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  color: black;
  font-family: "Montserrat", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* WebKit chrome */
    width: 0;
    height: 0;
  }
}
a {
  color: inherit;
}

.desktop {
  display: none;
}
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1em;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;

  .logo {
    width: 8em;
  }
  .centerNav {
    text-align: center;
  }
  .rightNav {
    text-align: right;
    button {
      border: none;
      background-color: rgba(59, 52, 52, 0.107);
      padding: em(8);
      border-radius: em(3);
      cursor: pointer;
      // background-color: transparent;
    }
  }
  nav {
    a {
      padding: 0.25em;
      text-decoration: none;
      &:hover {
        text-decoration: overline;
      }
    }
  }
}
.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
section {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  .content {
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding-top: 15vh;
    .buttons {
      margin-top: 65vh;
      a {
        margin: em(5);
        padding: em(9) em(70);
        background-color: #eee;
        text-decoration: none;
        text-transform: capitalize;
        border-radius: em(3);
        &:first-child {
          background-color: rgba(0, 0, 0, 0.642);
          color: #fff;
        }
      }
    }
  }
}
aside {
  transition: right 0.5s ease;
  position: fixed;
  right: -333em;
  background-color: #fff;
  width: em(320);
  height: 100vh;
  z-index: 5;
  padding: em(60) em(40);
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    /* WebKit chrome */
    width: 0;
    height: 0;
  }
  a {
    display: block;
    width: 90%;
    padding: em(10) 0;
    text-decoration: none;
    font-size: smaller;
    font-weight: 600;
    &:hover {
      background-color: rgba(59, 52, 52, 0.107);
      border-radius: em(3);
    }
  }
  .close {
    font-size: em(24);
    border: 0;
    background-color: transparent;
    position: absolute;
    top: em(10);
    right: em(10);
    padding: em(10);
    font-family: sans-serif;
    font-weight: 100;
    cursor: pointer;
  }
}
aside.active {
  right: 0;
}

.backdrop.active {
  display: block;
}
.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(em(5));
}

@media (min-width: 1000px) {
  .desktop {
    display: initial;
  }
}
