@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;500&display=swap");
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
BODY {
  color: black;
  font-family: "Figtree", sans-serif;
  height: 100%;
}
a {
  color: inherit;
}
.desktop {
  display: none;
}
header {
  color: inherit;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1.2em 1.5em;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  a {
    color: inherit;
  }
  nav {
    a {
      padding: 0.5em 0.5em;
      text-decoration: none;
    }
  }
  .center_nav {
    text-align: center;
  }
  .right_nav {
    text-align: right;
  }
  .logo {
    height: 1.4em;
    width: 12em;
    color: inherit;
  }
}
.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}

section {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  .content {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    display: grid;
    grid-template-rows: min-content auto min-content;
  }
  .buttons {
    display: grid;
    row-gap: 1em;
    margin: 0 em(80);
  }
  .buttons a {
    display: block;
    background-color: #eee;
    padding: 0.9em 4em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: em(5);

    &:first-child {
      background-color: rgba(23, 26, 32, 0.8);
      color: #fff;
    }
  }
}
aside {
  position: fixed;
  transition: right 0.5s ease;
  right: -3333px;
  width: em(300);
  background-color: #fff;
  padding: em(80) em(40);
  z-index: 4;
  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: em(10) 0;
    font-weight: 500;
  }
  .close {
    font-size: em(24);
    border: 0;
    background-color: transparent;
    position: absolute;
    top: em(10);
    right: em(10);
    padding: em(10);
    font-family: sans-serif;
    font-weight: 100;
    cursor: pointer;
  }
}
aside.active {
  right: 0;
}
.backdrop.active {
  display: block;
}

.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(em(5));
  .active {
    display: block;
  }
}

@media (min-width: 1150px) {
  .desktop {
    display: initial;
  }
  section {
    .buttons {
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      column-gap: em(16);
      max-width: em(1000);
    }
  }
}
